@use '../../assets/styles/sass/variables' as *;


.tag-container{
    padding: $p_xxs $p_s;
    background: $surface;
    border: 1px solid $border;
    border-radius: $radius-full;
    width: fit-content;
    span{
        font-size: $f_s;
        font-weight: 600;
        color: $text;
    }

}
