@use '../../../assets/styles/sass/variables' as *;

.orga-detail-orga-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  .orga-detail-hero{
      width: clamp(320px, calc(320px + calc((1440 - 320) / (1440 - 320)) * (100vw - 320px)), 1440px);
      height: clamp(200px, calc(200px + calc((400 - 200) / (1440 - 320)) * (100vw - 320px)), 400px);
  }
}

.orga-detail-events-list-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orga-detail-events-global-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  & h2{
      font-size: clamp(20px, calc(20px + calc((28 - 20) / (1440 - 320)) * (100vw - 320px)), 28px);
      font-weight: 700;
      color: $grey_700;
  }
  & h3 {
      font-size: clamp(16px, calc(16px + calc((24 - 16) / (1440 - 320)) * (100vw - 320px)), 24px);
      font-weight: 700;
  }
}

.orga-detail-title-btn-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.orga-detail-events-not-found{
    color: $grey_700;
    font-size: clamp(12px, calc(12px + calc((20 - 12) / (1440 - 320)) * (100vw - 320px)), 20px);
}


.users-list-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(14px, calc(14px + calc((22 - 14) / (1440 - 320)) * (100vw - 320px)), 22px);
    padding: clamp(10px, calc(10px + calc((20 - 10) / (1440 - 320)) * (100vw - 320px)), 20px);
    min-height: 200px;
    width: 100vw;
}
.users-list-users-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: clamp(10px, calc(10px + calc((20 - 10) / (1440 - 320)) * (100vw - 320px)), 20px);
}

@media screen and (max-width: 768px) {
    .orga-detail-title-btn-container{
        flex-direction: column;
        gap: 10px;
    }
}