@use './variables' as *;

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}

:root{
    color: $text;
    background-color: $background;
  
}


body {
	line-height: 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
    padding: 20px;
    width: 100vw;
    min-height: calc(100dvh - 140px);
};



p{
    font-size: $f_s;
    font-family: 'Roboto', sans-serif;
    color: $text;
}

h1{
    color: $text;
    font-size: $f_l;
    font-family: 'Cal sans', sans-serif;
}

h2{
    color: $text;
    font-size: $f_m;
    font-family: 'Cal sans', sans-serif;
}

h3{
    color: $text;
    font-size: $f_m;
    font-family: 'Cal sans', sans-serif;
}



ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.underline_label{
    color: $text;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    gap: 4px;
    p {
        text-decoration: none;
        text-decoration-color: $text;
        font-size: $f_s;
    }
    span{
        font-size: $f_s;
        text-decoration: underline;
        cursor: pointer;
        text-underline-offset: 2px;

    }
};

.deep_link{
    font-family: "Roboto", sans-serif;

    color: $text;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        text-decoration-color: $text;
        text-underline-offset: 2px;
    }
};

.user-circle-initials{
    color: $text;
    background-color: $grey_200;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 50%;
    &.s{
        width: 18px;
        height: 18px;
        font-size: 12px;
    }
    &.m{
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    &.l{
        width: 45px;
        height: 45px;
        font-size: 18px;
    }
    &.xxl{
        width: 150px;
        height: 150px;
        font-size: 50px;
    }
}