@use './variables' as *;
@use './mixins' as *;


.events-list-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: $g_s;
    width: 100%;
};

.events-list {
    display: flex;
    flex-wrap: wrap;
    gap: $g_m;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet{
        flex-direction: row;
        justify-content: flex-start;
    }
}



.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $g_m;
    flex-wrap: wrap;
};

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 999;
    @include tablet {
        align-items: center;
    }
}

.modal {
    background: $background;
    padding: $p_l;
    border-radius: $radius-xl $radius-xl 0 0;
    max-width: 400px;
    width: 100%;
    box-shadow: $shadow-lg;
    display: flex;
    flex-direction: column;
    gap: $g_s;
    max-height: 90dvh;
    overflow-y: auto;
    & h3{
        text-align: center;
    }
    @include tablet {
        border-radius: $radius-xl;
    }
}

.modal-form{
    display: flex;
    flex-direction: column;
    gap: $g_s;
    align-items: center;
}

.card{
    background-color: $background;
    border: 1px solid $border;
    box-shadow: $shadow-xs;
    border-radius: $radius-lg;
    transition: $transition;
    &:hover{
        box-shadow: $shadow-sm;
    }
}
