@use '../../assets/styles/sass/variables' as *;
.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: clamp(10px, calc(10px + calc((20 - 10) / (1440 - 320)) * (100vw - 320px)), 20px);
};


.auth-redirection-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: $f_s;
    & p{
        color: $text;
    }
    & a{
        color: $grey_700;
        text-decoration: underline
    }
};