@use '../../assets/styles/sass/variables' as *;

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $g_l;
    padding: $p_m;
}
.profile-photo{
    border-radius: 25%;
    background-color: $primary;
    width: 150px;
    height: 150px;
    border: 3px solid $text;
}
.profile-infos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $g_m;
    & .profile-infos{
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      & .profile-name{
          font-size: $f_l;
          font-weight: 700;
      
      }
    }
}
.profile-events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $g_l;
    margin-top: 18px;
    max-width: 1440px;
}




@media screen and (min-width: 768px) {
    .profile-container{
        flex-direction: row;
    }
}
