
// COLORS //
$primary_color:  #0075DE;
$secondary_color: #626262;
$background_color: #FFFFFF;
$text_color: #21211F;
$accent_color: #F6F5F4;
$grey_100: #EFEFEF;
$grey_200: #DEDEDE;
$grey_700: #474744;
$blue_100: #0087fc;
$blue_200: #0260b1;
$blue_700: #014683;


$transition: all 0.3s ease-in-out;



* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    box-sizing: border-box;
}

::root{
    color: $text_color;
    background-color: $background_color;
  
}


body {
	line-height: 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 1em;
    padding: 20px;
    width: 100vw;
};



p{
    font-size: clamp(10px, calc(10px + calc((16 - 10) / (1920 - 320)) * (100vw - 320px)), 16px);
    font-family: 'Roboto', sans-serif;
    color: $text_color;
}

h1{
    color: $text_color;
    font-size: clamp(18px, calc(18px + calc((24 - 18) / (1440 - 320)) * (100vw - 320px)), 24px);
    font-family: 'Cal sans', sans-serif;
}

h2{
    color: $text_color;
    font-size: clamp(16px, calc(16px + calc((20 - 16) / (1440 - 320)) * (100vw - 320px)), 20px);
    font-family: 'Cal sans', sans-serif;
}

button{
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    &:focus{
        outline: none;
    }
    &:active{
        transform: scale(0.95);
    }
    &.primary{
        background-color: $text_color;
        color: $accent_color;
        transition: $transition;
        &:hover{
            background-color: $grey_700;
        }
    }
    &.secondary{
        background-color: transparent;
        color: $text_color;
        transition: $transition;
        border: 1px solid $text_color;
        &:hover{
            background-color: $grey_100;
        }
        & .disabled{
            background-color: $grey_200;
            color: $grey_700;
            border: 1px solid $grey_200;
            cursor: not-allowed;
        }
    }
    &.tertiary{
        background-color: $primary_color;
        color: $background_color;
        transition: $transition;
        &:hover{
            background-color: $blue_700;
        }
    }
}

ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.underline_label{
    color: $text_color;
    display: flex;
    align-items: center;
    gap: 4px;
    p {
        text-decoration: underline;
        text-decoration-color: $text_color;
        text-underline-offset: 2px;
    }
    span{
        text-decoration: none;
        cursor: pointer;

    }
};

.deep_link{
    color: $text_color;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        text-decoration-color: $text_color;
        text-underline-offset: 2px;
    }
};