
.user_circle-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 8px 15px;
    &.s{
        height: 40px;
    }
    &.m{
        height: 50px;
    }
    &.l{
        height: 60px;
    }

}


.user_circle-wrapper {
  display: flex;
  position: absolute;
  $offsets: (
    s: 20px,
    m: 25px,
    l: 30px
  );

  @each $size, $offset in $offsets {
    &.#{$size} {
      &:nth-child(1) {
        left: 0;
      }

      @for $i from 2 through 10 {
        &:nth-child(#{$i}) {
          left: ($i - 1) * $offset;
        }
      }
    }
  }
}