@use './../../styles/settings.scss';

header {
    width: 100vw; // Utiliser toute la largeur de l'écran
    max-width: 100%; // Éviter toute restriction de largeur
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: center;
    background: settings.$primary_color;
    padding: clamp(10px, 2vw, 20px);
    position: relative;
}

.container {
    width: 100%;
    max-width: 1280px; // Conteneur centré pour éviter d'étirer trop sur grand écran
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --- Styles pour Desktop --- */
.desktop-nav {
    display: none;
    gap: 16px;
}

/* --- Styles pour Mobile --- */
.burger-container {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.burger-bar {
    width: 75%;
    height: 3px;
    background-color: settings.$text_color;
    transition: settings.$transition;
    &.open {
        &:first-child{
            transform: rotate(45deg) translateY(5px) translateX(7px);

        }
        &:nth-child(2){
            opacity: 0;
        }
        &:last-child{
           transform: rotate(-45deg) translateY(-5px) translateX(7px);
        }
    }
}

.mobile-nav {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background: settings.$primary_color;
    padding: 20px;
    transition: settings.$transition;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.header-navlink{
        cursor: pointer;
        color: white;
        font-size: 1rem;
        text-decoration: none;
        transition: settings.$transition;
        &:hover {
            color: settings.$accent_color;
        }
}

.mobile-nav.open {
    opacity: 1;
    transform: translateY(0);
    position: absolute;
    top : 60px;
}

.header-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header_img_profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .desktop-nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            gap: 20px;
        }
        li {
            list-style: none;
            a {
                color: settings.$text_color;
                font-size: 1rem;
                text-decoration: none;
                transition: settings.$transition;
                &:hover {
                    color: settings.$accent_color;
                }
            }
        }
    }
    .burger-container {
        display: none;
    }
    .mobile-nav {
        display: none;
    }
}